<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>  
   <servlet>
  	<servlet-name>home1</servlet-name>
  	
  	<servlet-class>com.globallogic.hello.MyMavenServlet</servlet-class>
  </servlet>
   <servlet>
   	<servlet-name>MySecServerlet</servlet-name>
   	<display-name>MySecServerlet</display-name>
   	<description></description>
   	<servlet-class>com.globallogic.hello.MySecServerlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>MySecondServerlet</servlet-name>
   	<display-name>MySecondServerlet</display-name>
   	<description></description>
   	<servlet-class>com.globallogic.hello.MySecondServerlet</servlet-class>
   </servlet>
  <servlet-mapping>

  	<servlet-name>home1</servlet-name>
  	<url-pattern>/home1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MySecServerlet</servlet-name>
  	<url-pattern>/MySecServerlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MySecondServerlet</servlet-name>
  	<url-pattern>/home3</url-pattern>
  </servlet-mapping>
  
</web-app>
